/*Navigation Bar style*/

nav{
    background-color: #404040;
}

.nav_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.links ul li{
    display: inline-block;
    color: whitesmoke;
    padding-left: 100px;
    font-weight: bold;
}

.links ul li a {
    color: whitesmoke;
    text-decoration: none;
}

.links ul li a:hover {
    color: darkorange;
    text-decoration: none;
}

.logo{
    padding-top: 13px;
    padding-right: 290px;
    font-size: 24px;
    color: darkorange;
}








